<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Inköpslistan - Välkommen</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<h1 th:inline="text">Välkommen [[${#httpServletRequest.remoteUser}]]!</h1>
<p>Här är din inköpslista</p>


<form th:action="@{/application}" method="post" th:object="${groceryListModel}">
    <div><label> Name: <input required type="text" name="name"/> </label></div>
    <div><input type="submit" value="Save"/></div>
</form>

<form th:action="@{/application/addproduct}" method="post">
    <div><label> List name: <input required type="text" value="Julmat" name="name"/> </label></div>
    <div><label> Product name: <input required type="text" name="productName" /> </label></div>
    <div><input type="submit" value="Save"/></div>
</form>

<form th:action="@{/application/update}" method="patch" >
    <div><label> List id: <input required type="text"  name="id"/> </label></div>
    <div><label> New name: <input required type="text"  name="name"/> </label></div>
    <div><input type="submit" value="Save"/></div>
</form>




<form th:action="@{/application/deletelist}" method="delete" th:object="${groceryListEntity}">
    <div><label> List name: <input required type="text"  name="name"/> </label></div>
    <div><input type="submit" value="Save"/></div>
</form>



<!--<form th:action="@{/addproduct}" method="post" th:object="${grocerylistEntity}">-->
<!--    <p> List name: <input required type="text" th:field="*{name}"/><p>-->
<!--    <p> Product name: <input required type="text" th:field="*{products.get(productname)}"/><p>-->
<!--    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>-->
<!--</form>-->



<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>



</body>
</html>