<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Inköpslistan - Välkommen</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body style="margin-left: 10px; padding-left: 10px">
<h1 th:inline="text">Välkommen [[${#httpServletRequest.remoteUser}]]!</h1>
<p style="margin-top: 20px">Vad skulle du vilja göra idag?</p>

<p style="margin-top: 30px">Klicka <a th:href="@{/app/all}">här</a> för att se dina befintliga listor</p>


<p style="margin-top: 30px; font-weight: bold">Eller skapa en NY handlingslista här:</p>
<form th:action="@{/app/}" method="post" th:object="${groceryListModel}">
    <div><label> Namn: <input required type="text" name="name"/> </label></div>
    <div><input type="submit" value="Skapa"/></div>
</form>

<form style="margin-top: 50px" th:action="@{/logout}" method="post">
    <input type="submit" value="Logga ut"/>
</form>



</body>
</html>