<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>GroceryList Webapp</title>
</head>
<body>
<h1>Välkommen till din matbutik online!</h1>
<p>Klicka <a th:href="@{/application}">här</a> för att fortsätta till appen.</p>
<p>Klicka <a th:href="@{/employee}">här</a> för att fortsätta till sidan för anställda.</p>
<p>Klicka <a th:href="@{/admin}">här</a> för att fortsätta till sidan för admin.</p>
<p>Klicka <a th:href="@{/signup}"> här </a> för att skapa en ny användare</p>
</body>
</html>