<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>GroceryList Webapp</title>
</head>
<body>
<h1>Välkommen till din matbutik online!</h1>
<p>Click <a th:href="@{/application}">here</a> to continue to the app.</p>
<p>Click <a th:href="@{/employee}">here</a> to continue to the employee console.</p>
<p>Click <a th:href="@{/admin}">here</a> to continue to the admin console.</p>
<p>Click <a th:href="@{/signup}"> signup </a></p>
</body>
</html>